* {
  box-sizing: border-box;
  margin: 0;
}

@font-face {
  font-family: Gothvetica;
  src: url(../assets/Gothvetica.ttf);
}

@font-face {
  font-family: LiberatorMedium;
  src: url(../assets/Liberator-Medium.ttf);
}
:root {
  font-family: Helvetica, -apple-system, BlinkMacSystemFont, Segoe UI, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-size: 1rem;
  --user-font-scale: 1rem - 16px;
  font-size: clamp(
    0.875rem,
    0.4626rem + 1.0309vw + var(--user-font-scale),
    1.125rem
  );
  --app-color-scarlet: #d00000;
  --app-color-cream: #f5f1e7;
  --app-bg-color: var(--app-color-scarlet);
  --app-txt-color: var(--app-color-cream);
  --app-card-background: linear-gradient(145deg, #df0000, #bb0000);
  --app-card-shadow: 20px 20px 60px #b10000, -20px -20px 60px #ef0000;
  --app-emphasis: var(--app-color-cream);
}

header {
  height: 100px;
}

body {
  padding: 2rem;
  width: 100%;
  min-height: 100vh;
  background: var(--app-bg-color);
  color: var(--app-txt-color);
}

main {
  width: 100%;
}

h1 {
  font-size: 4rem;
}

.subhead {
  margin-left: 0.25rem;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.liberator {
  font-family: LiberatorMedium;
  font-style: italic;
}

.emphasize {
  color: var(--app-emphasis);
}

.card {
  border-radius: 50px;
  box-shadow: var(--app-card-shadow);
  padding: 2rem;
  background: var(--app-card-background);
}

footer {
  margin-top: 2rem;
  bottom: 1rem;
  font-size: 0.75rem;
}

a.active {
  color: var(--app-emphasis);
}

@media screen and (min-width: 801px) {
  .container {
    padding: 3rem 2rem 2rem;
  }
  .verdict-container {
    min-width: 50%;
  }
  .schedule-container {
    min-width: 20%;
  }
  a {
    color: var(--app-emphasis);
    text-decoration: none;
    overflow: hidden;
    display: inline-block;
    position: relative;
  }

  /* Fade in */
  a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: var(--app-emphasis);
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
  }

  a:hover::after,
  a:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
  }

  a::after {
    opacity: 1;
    transform: translate3d(-100%, 0, 0);
  }

  a:hover::after,
  a:focus::after {
    transform: translate3d(0, 0, 0);
  }

  .top-aligned-flex {
    display: flex;
    align-content: flex-start;
  }
  
  .fix-liberator-anchor {
    padding-top: 0.2rem;
  }
}

@media screen and (max-width: 800px) {
  .verdict-container {
    margin-top: 2em;
    width: 100%;
  }
  .schedule-container {
    width: 100%;
  }
  a {
    color: var(--app-emphasis);
    overflow: hidden;
    display: inline;
  }
  .container {
    flex-direction: column;
    margin-top: 4rem;
    gap: 2rem;
  }
}

@media screen and (max-width: 400px) {
  .verdict-container {
    margin-top: 8rem;
  }
}

.verdict-container > p {
  padding: 0.25rem 0rem;
}

.verdict {
  font-size: 8rem;
}

.game-line {
  display: flex;
  justify-content: space-between;
}