---
// Component Imports
import { computeNumberOfWins, dateInPast, fetchScores, formatWinLossString, getGameTimeFromString } from '../utils/scheduleUtils.js';

// Component Script:
let gameData = await fetchScores();
const wins: number = computeNumberOfWins(gameData);
---
<html lang="en">
<head>
    <meta name="robots" content="index, follow, max-video-preview:-1, max-snippet:-1, max-image-preview:large">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Is Nebraska Great Again?">
    <meta property="og:description" content="Upon his hire in 2017, Scott Frost was tasked to Make Nebraska Great Again. Has he done the job?">
    <meta property="og:url" content="https://www.isnebraskagreatagain.com">
    <meta property="og:image" content="https://www.isnebraskagreatagain.com/assets/web-preview.jpg">
    <meta property="og:image:width" content="829">
    <meta property="og:image:height" content="589">
    <meta name="twitter:title" content="Is Nebraska Great Again?">
    <meta name="twitter:description" content="Upon his hire in 2017, Scott Frost was tasked to Make Nebraska Great Again. Has he done the job?">
    <meta name="twitter:image" content="https://www.isnebraskagreatagain.com/assets/web-preview.jpg">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:creator" content="@PatrickDavlin">
    <meta name="twitter:site" content="@PatrickDavlin">

    <title>Is Nebraska Great Again?</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/style/global.css">
</head>
<header>
    <h1 class="liberator">Is <span class="emphasize">Nebraska</span> Great Again?</h1>
    <div class="top-aligned-flex subhead">
        Upon his hire in 2017, Scott Frost was tasked to 
        &nbsp;<a href="https://twitter.com/tsmitty1206/status/730467841820909568?s=21" class="liberator fix-liberator-anchor">Make Nebraska Great Again.</a>&nbsp;
        Has he done the job?
    </div>
</header>
<body>
    <main>
        <div class="container">
            <div class='verdict-container'>
                <div class="card">
                    <div>
                        <div class="verdict liberator emphasize">
                        { wins >= 9 ? "oh yeah, I'm thinkin' the skers are back!" : "Not Yet." }
                        </div>
                        <h2 class="liberator">
                        <span class="emphasize">{wins}</span> wins in 2021
                        </h2>
                    </div>
                    <p>
                        To be great again, Nebraska needs to win back-to-back national
                        championships.
                    </p>
                    <p>
                        Before that, the Huskers need to achieve the greatness of the Bo
                        Pelini era: at least 9 wins, and 3 losses.
                    </p>
                </div>
            </div>
            <div class='schedule-container'>
                  <div>
                    <h2 class="liberator">Husker Schedule</h2>
                    {gameData.map((game) => (
                        <div class="game-line">
                            <div>
                            {game.home_team === 'Nebraska' 
                                ? `vs ${game.away_team}` 
                                : `@ ${game.home_team}`}
                            </div>
                            <div>
                            {dateInPast(game.start_date) 
                                ? formatWinLossString(game.home_team, game.home_points, game.away_points) 
                                : getGameTimeFromString(game)}
                            </div>
                        </div>
                    ))}
                </div>
            </div>
        </div>
    </main>
</body>
<footer class="top-aligned-flex">
    Inspired by&nbsp;<a href="https://istexasbackyet.com">Is Texas Back Yet?</a>&nbsp;
    Made lazily by&nbsp;<a href="https://twitter.com/patrickdavlin">Patrick Davlin</a>.
    Data from&nbsp;<a href="https://collegefootballdata.com">collegefootballdata.com</a>.
</footer>
</html>
